### Linear Regression

Multiple linear regression of prices of used cars sold in the US. Dataset features include car make, model, year, mileage, color, state, and date. This model attempts to predict the price of used cars using the features provided.

#### Import Libraries

In [1]:
import pandas as pd

#### Import Dataset(s)

In [2]:
df = pd.read_csv('../data/used_cars.csv')

#### Explore Dataset(s)

In [3]:
df.head()

,make,model,year,mileage,price,color,state,date
0,Toyota,Cruze,2017,19882,34176,red,IL,2023-08-08 23:02:01.648413
1,Ford,Cruze,2016,95349,26655,red,NY,2023-12-14 23:02:01.648426
2,Toyota,Accord,2017,23744,10359,silver,IL,2024-01-27 23:02:01.648428
3,Honda,Fusion,2014,55370,23514,white,CA,2023-11-01 23:02:01.648436
4,Honda,Cruze,2013,41146,27168,red,IL,2023-07-15 23:02:01.648439

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   make     2000 non-null   object
 1   model    2000 non-null   object
 2   year     2000 non-null   int64
 3   mileage  2000 non-null   int64
 4   price    2000 non-null   int64
 5   color    2000 non-null   object
 6   state    2000 non-null   object
 7   date     2000 non-null   object
dtypes: int64(3), object(5)
memory usage: 125.1+ KB

#### Data Preprocessing